---
layout: default
---
    <!-- Header -->
    <header class="masthead" {%- if page.himg -%}
        style="background-image: url('{{ page.himg }}');"
      {%- endif -%}>
      <div class="container">
        <div class="intro-text">
    <p class="post-meta">
          <div class="intro-lead-in">
        {%- assign date_format = "%-d %b %Y" -%}
      {%- if page.author -%}
       {{ page.author }}@     
      {%- endif -%}    {{ page.date | date: date_format }} </div>
          <div class="intro-heading">{{ page.title | escape }}</div>
        </div>
      </div>
    </header>

<article class="h-entry">
      {%- if page.author -%}
<a hidden rel="me" class="p-author h-card">{{ page.author }}</a>
      {%- endif -%}

      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        
      </time>
          <div hidden class="p-name">{{ page.title | escape }}</div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <section class="e-content content" itemprop="articleBody">
    {{ content }}
                </section>
              </div>
            </div>
          </div>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | absolute_url }}" hidden></a>
  </article>
<ul class="webmentions count inline" id="{{ page.url | absolute_url }}">
	<li><i class="icon-comment"></i></li>
	<li>0</li>
</ul>
<ul class="webmentions links" id="{{ page.url | absolute_url }}">
	<li>No webmentions were found.</li>
</ul>
