---
layout: default
---
    <!-- Header -->
    <header class="masthead" {%- if page.himg -%}
        style="background-image: url('{{ page.himg }}');"
      {%- endif -%}>
      <div class="container">
        <div class="intro-text">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = "%-d %b %Y" -%}
        
      </time>
          <div class="intro-lead-in">
      {%- if page.author -%}
        {{ page.author }}@     
      {%- endif -%}    {{ page.date | date: date_format }} </div>
          <div class="intro-heading">{{ page.title | escape }}</div>
        </div>
      </div>
    </header>

    <article>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <section class="content" itemprop="articleBody">
    {{ content }}
                </section>
              </div>
            </div>
          </div>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
